In [1]:
print("Hello world")

Hello world

# Datatypes
<ol>
    <li>Primitive (one variable one value)</li>
    <ul>
       <li>INT</li>
       <li>FLOAT</li>
       <li>STRING</li>
       <li>BOOLEAN</li> 
    </ul>
    <li>Non-primitive (one variable multiple values)</li>
    <ul>
        <li>LIST</li>
        <li>TUPLE</li>
        <li>DICT</li>
        <li>SET</li>
    </ul>
</ol>

In [2]:
i = 10

In [4]:
print(i, type(i))

10 <class 'int'>

In [5]:
i = 10.5
print(i, type(i))

10.5 <class 'float'>

In [6]:
i = "Hriday"
print(i, type(i))

Hriday <class 'str'>

In [8]:
i[-1]

'y'

In [9]:
boolean = True

In [10]:
print(boolean, type(boolean))

True <class 'bool'>

# Typecasting

In [12]:
x = 10

In [13]:
float(x)

10.0

In [14]:
str(x)

'10'

In [17]:
x = bool(x)

In [18]:
x

True

# non-primitive

In [20]:
l = [1,2,3,4,5,6,7,8,9,10]

In [21]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
l[0]

1

In [23]:
# slicing & dicing

In [ ]:
l[start:end:step]

In [24]:
l[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [25]:
l[::2]

[1, 3, 5, 7, 9]

In [26]:
l[1::2]

[2, 4, 6, 8, 10]

In [28]:
l[1:4:-1]

[]

In [29]:
l[4:1:-1]

[5, 4, 3]

In [32]:
l[-4:-1]

[7, 8, 9]

In [33]:
l = [
    [1,2],
    [3,4]
]

In [36]:
l[0][0]

1

In [39]:
l[0,0]

TypeError: list indices must be integers or slices, not tuple

In [40]:
t = (1,2,3,4,5)

In [43]:
l[0][0] = 10

In [44]:
l

[[10, 2], [3, 4]]

In [45]:
t[0]

1

In [46]:
t[-1]

5

In [47]:
t[-1] = 0

TypeError: 'tuple' object does not support item assignment

In [48]:
l

[[10, 2], [3, 4]]

In [49]:
l[2] = 5

IndexError: list assignment index out of range

In [52]:
l.append([5, 6,7,8,9,10])

In [53]:
l

[[10, 2], [3, 4], 5, [5, 6, 7, 8, 9, 10]]

In [54]:
d = {
    "key":"value",
    "fullName":"Hriday Goswami",
    "age":500,
    "married":False,
    "visited":["India", 'USA', 'Canda', 'Europe', 'Australia']
}

In [56]:
d.key

AttributeError: 'dict' object has no attribute 'key'

In [57]:
d['age']

500

In [58]:
d['fullName']

'Hriday Goswami'

In [62]:
list(d.keys())

['key', 'fullName', 'age', 'married', 'visited']

In [63]:
d.values()

dict_values(['value', 'Hriday Goswami', 500, False, ['India', 'USA', 'Canda', 'Europe', 'Australia']])

In [64]:
l = [1,2,3,4,5]

In [65]:
dict(l)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [66]:
l = [[1, 2], [3, 4], [5,6]]

In [73]:
dict(l).keys()

dict_keys([1, 3, 5])

In [74]:
dict(l).values()

dict_values([2, 4, 6])

In [75]:
s = {10, 9, 8, 8, 5, 3, 1, 2}

In [77]:
s[0]

TypeError: 'set' object is not subscriptable

In [82]:
i = iter(s)

In [83]:
next(i)

1

In [84]:
next(i)

2

In [85]:
next(i)

3

In [86]:
next(i)

5

In [87]:
next(i)

8

In [88]:
next(i)

9

In [89]:
next(i)

10

In [90]:
next(i)

StopIteration:

In [93]:
s = {1,2,3,4, 5,6,7,8,9,10}

In [95]:
list(s)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [96]:
tuple(s)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [97]:
dict(s)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [104]:
l = [[1, [5, [2,3,4]]]]

In [108]:
d = dict(l)[1]

In [110]:
dict(d)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [111]:
l = [
    {
        "fullName":"Hriday Goswami",
        "age":500, 
        "married":False
    },
    {
        "fullName":"Kevin Shah",
        "age":200,
        "married":True
    },
    {
        "fullName":"Rajesh Shah",
        "age":50,
        "married":True
    }
]

In [114]:
l[0]['fullName']

'Hriday Goswami'

In [115]:
d = {
    "d1":{
        "d2":{
            "d3":None
        }
    }
}

In [118]:
d['d1']['d2']['d3'] = 10

In [119]:
d

{'d1': {'d2': {'d3': 10}}}

In [120]:
d["d1"]["d2"]["d3"]

10